<form nz-form [formGroup]="form" nzLayout="horizontal" class="column">
  <div class="d-flex flex-column align-items-center">
    <nz-form-item class="col-sm-12 col-md-6 col-lg-4">
      <nz-form-label nzRequired nzSpan="8">{{ LABELS.PROCESS_TYPE }}</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-select formControlName="processType" [nzOptions]="processTypeOpts" [nzPlaceHolder]="LABELS.CHOOSE_HERE" [nzAllowClear]="true" nzShowSearch></nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="col-sm-12 col-md-6 col-lg-4">
      <nz-form-label nzRequired nzSpan="8">{{ LABELS.BILLING_PERIOD }}</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-select formControlName="billingPeriod" [nzOptions]="billingPeriodOpts" [nzPlaceHolder]="LABELS.CHOOSE_HERE" [nzAllowClear]="true" nzShowSearch></nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="col-sm-12 col-md-6 col-lg-4">
      <nz-form-label nzRequired nzSpan="8">{{ LABELS.START_END_DATE }}</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-range-picker formControlName="selectedDate" class="w-100"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="d-flex justify-content-end">
    <button nz-button nzType="primary" (click)="runProcess()" [disabled]="form.invalid">{{ RunProcessBtnLabel[this.module] }}</button>
  </div>
</form>
