<nz-flex [nzJustify]="'flex-end'" class="button-container" nzGap="large">
    <button nz-button nzType="primary">Filter</button>
    <button nz-button nzType="primary" *ngIf="isFileClaimPage" (click)="fileClaimModal()">File a Claim</button>
</nz-flex>

<ng-template #fileClaim let-modal>
    <nz-flex nzVertical="true" class="form-container">
        <form [formGroup]="fileClaimForm">
            <div class="form-item">
                <div class="label-container">
                    <label class="form-label">Billing Period:</label>
                    <nz-select
                        formControlName="billingPeriod"
                        nzPlaceHolder="Select Billing Period"
                    >
                        @for (billing of meterProcessBillingPeriod; track billing.id) {
                            <nz-option [nzValue]="billing.billingPeriod" [nzLabel]="billing.supplyMonth"></nz-option>
                        }
                    </nz-select>
                </div>
            </div>
            <nz-space nzWrap="wrap">
                <div class="form-item">
                    <label class="form-label">Start Date:</label>
                    <input 
                        nz-input 
                        [disabled]="true"
                        formControlName="startDate" />
                </div>
                <div class="form-item">
                    <label class="form-label">End Date:</label>
                    <input 
                        nz-input
                        [disabled]="true"
                        formControlName="endDate" />
                </div>
            </nz-space>
        </form>
    </nz-flex>
</ng-template>