<nz-spin [nzSpinning]="modalBusy$ && !modalBusy$.closed">
  @if (showAlert) {
    <nz-alert nzBanner nzType="error" [nzMessage]="requiredRerunMsg" class="mb-3"></nz-alert>
  }

  <!-- Base -->
  <h6 class="mb-3">{{ LABELS.BASE }}</h6>
  <app-template-table
    [tableColumns]="baseTableColumns"
    [tableData]="data?.baseTableData">
  </app-template-table>

  <!-- Reruns -->
  <h6 class="mt-5 mb-3">{{ LABELS.RERUNS }}</h6>
  <app-template-table #rerunTable
    [tableColumns]="baseTableColumns"
    [tableData]="rerunList || []"
    [enableCheckbox]="true"
    [loading$]="busy$"
    [checkboxCondition]="disableCheck"
    [disableSelectAll]="true">
  </app-template-table>

  <!-- Templates for Columns -->
  <ng-template #tradingDateTpl let-allData="allData">
    {{ allData?.parameters?.startDatetime }} to {{ allData?.parameters?.endDatetime}}
  </ng-template>

  <ng-template #mtnTpl let-data="data">
    {{ data || (LABELS.ALL | uppercase) }}
  </ng-template>

  <ng-template #statusTpl let-data="data">
    <nz-tag class="break-word-tag">{{ data }}</nz-tag>
  </ng-template>

  <ng-template #processTypeTpl let-processType="data" let-allData="allData">
    @let adjNo = allData?.parameters?.adjNo;

    {{ processType }} @if (adjNo) { - {{ adjNo }} }
  </ng-template>

  <!-- Footer -->
  <div *nzModalFooter class="justify-content-end">
    <nz-space>
      <button nz-button type="button" (click)="modalRef.destroy()">{{ LABELS.CANCEL }}</button>
      <button nz-button type="button" nzType="primary" (click)="confirmConsolidate()">{{ LABELS.CONSOLIDATE }}</button>
    </nz-space>
  </div>
</nz-spin>

