<div class="d-flex justify-content-between align-items-center bg-white">
  <nz-space class="d-flex align-items-center">
      <img src="assets/images/svg/crss_logo_topbar.svg" alt="logo" class="header-logo" />
      @for (link of headerLinks; track link) {
        <a nz-button nzType="text" [href]="link.url">{{ link.label }}</a>
      }
  </nz-space>

  <div class="d-flex align-items-center">
      <app-bell class="px-1"></app-bell>
      <span class="px-2">
        {{ displayName | uppercase }}
      </span>

      <button
          class="account-dropdown"
          nz-button
          nz-popover
          nzType="text"
          nzSize="large"
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate"
          [nzPopoverVisible]="visible"
          nzPopoverOverlayClassName="user-options"
          nzPopoverPlacement="bottomRight">
          <fa-icon [icon]="ellipsisIcon"></fa-icon>
      </button
      >
  </div>
</div>

<!-- Dropdown Menu Actions -->
<ng-template #contentTemplate>
  <nz-space nzDirection="vertical">
    @for (menu of menuOptions; track menu.label) {
      @if (menu?.show) {
        <button *ngxPermissionsOnly="menu.perms" nz-button nzType="text" nzBlock nzSize="large" (click)="menu.action()">{{ menu.label }}</button>
      }
    }
  </nz-space>
</ng-template>