<div class="d-flex justify-content-between">
    <div>
        <img src="assets/images/svg/crss_logo_topbar.svg" alt="logo" />
        <ng-container *ngFor="let link of headerLinks">
            <a nz-button nzType="link" [href]="link.url">{{ link.label }}</a>
        </ng-container>
    </div>
    <div class="d-flex align-items-center">
        <app-bell class="px-4"></app-bell>
        <button
            nz-button
            nz-popover
            nzType="text"
            nzSize="large"
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
            [nzPopoverVisible]="visible"
            nzPopoverPlacement="bottomRight"
            >
            <span>
                Account name
                <fa-icon [icon]="ellipsisIcon"></fa-icon>
            </span>
        </button
        >
    </div>
</div>

<ng-template #contentTemplate>
    <div class="d-flex flex-column">
        <button nz-button nzType="text"> Close me </button>
        <button nz-button nzType="text"> Close me </button>
        <button nz-button nzType="text"> Close me </button>
    </div>
</ng-template>