<nz-flex nzVertical="true" nzJustify="center" nzAlign="start" class="form-container" nzWrap="wrap">
    <button nz-button [nzType]="hasFilter ? 'default' : 'primary'"
        (click)=" !hasFilter ? toggleFilter() : resetFilter()">{{ hasFilter ? LABELS.CLEAR_FILTERS : LABELS.SET_FILTERS
        }}</button>

    @if (hasFilter) {
    <form [formGroup]="filterSettlementForm" class="form-container">
        <div class="form-item">
            <label class="form-label">{{ LABELS.PROCESS_TYPE }}</label>
            <nz-select [nzShowSearch]="true" [nzAllowClear]="true" formControlName="processType" class="select-size"
                nzPlaceHolder="Select {{ LABELS.PROCESS_TYPE }}" [nzOptions]="settlementOptions">
            </nz-select>
        </div>

        @if (isDaily) {
        <div class="form-item">
            <label class="form-label">{{ LABELS.TRADING_DATE }}</label>
            <nz-range-picker formControlName="date" class="select-size">
            </nz-range-picker>
        </div>
        }

        @if (notDaily) {
        <div class="form-item">
            <label class="form-label">{{ LABELS.BILLING_PERIOD }}</label>
            <nz-select [nzShowSearch]="true" [nzAllowClear]="true" formControlName="billingPeriod" class="select-size"
                nzPlaceHolder="Select {{ LABELS.BILLING_PERIOD }}">
                <nz-option *ngFor="let billing of meterProcessBillingPeriod" [nzValue]="billing.name"
                    [nzLabel]="billing.supplyMonth">
                </nz-option>
            </nz-select>
        </div>
        }

        @if (filterSettlementForm.dirty) {
        <nz-flex nzGap="large" class="form-item">
            <button nz-button nzType="primary" (click)="applyFilter()">{{ LABELS.APPLY_FILTERS }}</button>
        </nz-flex>
        }
    </form>
    }
</nz-flex>