<div class="navbar-container">
  <!-- Menu -->
  <div class="menu-container">
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed && !isHovered">
      @for (item of navItems; track item) {
        @if ((!item.children || item.children.length === 0) && hasPermission(item)) {
          <li nz-menu-item (click)="navigateTo(item)" class="py-0 mt-0">
            <a class="nav-link">
              <ng-container *ngTemplateOutlet="menuItemTpl; context: { item }"></ng-container>
            </a>
          </li>
        } @else {
          <li nz-submenu nzTriggerSubMenuAction="click" [nzTitle]="parentMenuTitle" [nzOpen]="isDropdownOpen(item)" (nzOpenChange)="toggleDropdown(item, $event)" class="subChildColor py-0">

            <ng-template #parentMenuTitle>
              <ng-container *ngTemplateOutlet="menuItemTpl; context: { item }"></ng-container>
            </ng-template>

            <ul>
              @for (child of item.children; track child) {
                @if ((!child.children || child.children.length === 0) && hasPermission(child)) {
                  <li nz-menu-item (click)="navigateTo(child)" class="subChildColor">
                    <span>{{ child.title }}</span>
                  </li>
                } @else {
                  <li nz-submenu nzTriggerSubMenuAction="click" [nzTitle]="childMenuTitle" [nzOpen]="isDropdownOpen(child)" (nzOpenChange)="toggleDropdown(child, $event)" class="subChildColor py-0">

                    <ng-template #childMenuTitle>
                      @if (shouldShowText) {
                        <span class="nav-link">{{ child.title }}</span>
                      }
                    </ng-template>

                    <ul>
                      @for (child2 of child.children; track child2) {
                        @if (hasPermission(child2)) {
                          <li nz-menu-item (click)="navigateTo(child2)" class="subChildColor">
                            <span>{{ child2.title }}</span>
                          </li>
                        }
                      }
                    </ul>
                  </li>
                }
              }
            </ul>
          </li>
        }
      }
    </ul>
  </div>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/images/iemop_logo_1.png" class="logo-image" alt="Logo" />
  </div>
</div>

<!-- Parent Menu Tpl -->
<ng-template #menuItemTpl let-item="item">
  @if (item.icon) {
    <fa-icon [icon]="item.icon" class="sd-nav-icon nav-icon" size="lg"></fa-icon>
  }

  @if (shouldShowText) {
    <p class="mb-0 lh-sm">{{ item.title }}</p>
  }
</ng-template>