.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .linkHover:hover{
    background-color: #3e4a54;
  }

  .menu-container {
    flex-grow: 1;
    overflow-y: auto;

    /* Hide scrollbar for Chrome, Safari, and Edge */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
  }

  .logo-container {
    padding: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: auto;

    .logo-image {
      max-width: 100%;
      max-height: 50px;
    }
  }

  // Navbar item styling
  .nav-link {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
  }

  .nav-icon {
    margin-right: 10px;
    font-size: 1rem;
  }

  .nav-text {
    word-wrap: break-word;
    transition: opacity 0.3s;
  }

  .dropdown-icon {
    margin-left: auto;
    transition: transform 0.2s;
  }


  ul {
    background-color: #3e4a58 !important;
  }

  .subChildColor {
    background-color: #3e4a58 !important;
    margin: 0;
    padding: 6px 0;
  }
}