<nz-flex nzJustify="space-between" nzAlign="start" class="toolbar-container">
    <!-- Left side: Filter form -->
    <nz-flex nzDirection="column" nzAlign="start" class="form-section">
        <button nz-button [nzType]="hasFilter ? 'default' : 'primary'" (click)=" !hasFilter ? toggleFilter() : resetFilter()">
        {{ hasFilter ? 'Clear Filter' : 'Set Filter' }}
        </button>

    @if (hasFilter) {
        <form [formGroup]="filterForm" class="form-container">
            <div class="form-item">
                <label class="form-label">Meter Process Type:</label>
                <nz-select 
                formControlName="processType"
                class="select-size"
                nzPlaceHolder="Enter Process Type"
                [nzOptions]="meterProcessTypeOptions">
                </nz-select>
            </div>

            @if (filterForm.get('tradingDate')?.enabled) {
                <div class="form-item">
                    <label class="form-label">Trading Date:</label>
                    <nz-date-picker
                    formControlName="tradingDate"
                    class="select-size"
                    nzPlaceHolder="Select trading date">
                    </nz-date-picker>
                </div>
            }

            @if (filterForm.get('billingPeriod')?.enabled) {
                <div class="form-item">
                    <label class="form-label">Billing Period:</label>
                    <nz-select 
                    formControlName="billingPeriod"
                    class="select-size"
                    nzPlaceHolder="Enter Billing Period">
                    @for (billing of meterProcessBillingPeriod; track billing.id) {
                        <nz-option [nzValue]="billing.billingPeriod" [nzLabel]="billing.supplyMonth"></nz-option>
                    }
                    </nz-select>
                </div>
            }

            @if (filterForm.get('startDatetime')?.enabled && filterForm.get('endDatetime')?.enabled) {
                <nz-space>
                    <div class="form-item" *nzSpaceItem>
                        <label class="form-label">Start Date:</label>
                        <nz-date-picker
                            formControlName="startDatetime"
                            class="select-size"
                            nzPlaceHolder="Select start date">
                        </nz-date-picker>
                        </div>
                        <div class="form-item" *nzSpaceItem>
                        <label class="form-label">End Date:</label>
                        <nz-date-picker
                            formControlName="endDatetime"
                            class="select-size"
                            nzPlaceHolder="Select end date">
                        </nz-date-picker>
                    </div>
                </nz-space>
            }

            @if (filterForm.dirty) {
                <nz-flex nzGap="large" class="form-item">
                    <button nz-button nzType="primary" (click)="applyFilter()">Apply Filter</button>
                </nz-flex>
            }
        </form>
    }
    </nz-flex>

    <!-- Right side: Action buttons -->
    <nz-flex nzGap="large" nzAlign="start">
        <button nz-button nzType="primary" [disabled]="!rjs.hasValidConfiguration()" (click)="openRunWesmModal()">Run WESM</button>
        @if (isFinalType) {<button nz-button nzType="primary">Clone Final</button>}
    </nz-flex>
</nz-flex>


<ng-template #runWesmModal let-modal>
    <nz-flex nzVertical="true">
        <nz-result nzStatus="info" nzTitle="You are going to run a WESM Job"></nz-result>
        <nz-flex nzGap="large" nzAlign="start">
            <p><strong>Job Type:</strong> {{ meterProcessParams?.processType }}</p>
            @if (meterProcessParams?.adjNo) {<p><strong>Adjustment Number:</strong> {{meterProcessParams?.adjNo}}</p>}
        </nz-flex>
        <nz-flex nzGap="large" nzAlign="start">
            @if (meterProcessParams?.billingPeriod) {<p><strong>Billing Period:</strong> {{ meterProcessParams?.billingPeriod }}</p>}
            @if (meterProcessParams?.tradingDate) {<p><strong>Trading Date:</strong> {{ meterProcessParams?.tradingDate }}</p>}
        </nz-flex>
        <nz-flex nzGap="large" nzAlign="start">
            @if (meterProcessParams?.startDatetime) {<p><strong>Start Date Time:</strong> {{ meterProcessParams?.startDatetime }}</p>}
            @if (meterProcessParams?.endDatetime) {<p><strong>End Date Time:</strong> {{ meterProcessParams?.endDatetime }}</p>}
        </nz-flex>
    </nz-flex>
</ng-template>