<nz-flex nzGap="large" class="form-container" nzJustify="space-between">
    <input nz-input placeholder="Search Jobs" />
    <nz-flex nzGap="large">
        <button nz-button nzType="primary" [disabled]="!meterProcessService.isVisibleFieldsValid" (click)="openRunWesmModal()">Run WESM</button>
        <button *ngIf="isFinalType" nz-button nzType="primary">Clone Final</button>
    </nz-flex>
</nz-flex>

<ng-template #runWesmModal let-modal>
    <nz-flex nzVertical="true">
        <nz-result nzStatus="info" nzTitle="You are going to run a WESM Job"></nz-result>
        <p><strong>Job Type:</strong> {{ meterProcessParams?.processType }}</p>
        <nz-flex nzGap="large" nzAlign="start">
            <p *ngIf="meterProcessParams?.billingPeriod"><strong>Billing Period:</strong> {{ meterProcessParams?.billingPeriod }}</p>
            <p *ngIf="meterProcessParams?.tradingDate"><strong>Trading Date:</strong> {{ meterProcessParams?.tradingDate }}</p>
        </nz-flex>
        <nz-flex nzGap="large" nzAlign="start">
            <p *ngIf="meterProcessParams?.startDate"><strong>Start Date:</strong> {{ meterProcessParams?.startDate }}</p>
            <p *ngIf="meterProcessParams?.endDate"><strong>End Date:</strong> {{ meterProcessParams?.endDate }}</p>
        </nz-flex>
        <p *ngIf="meterProcessParams?.adjNo"><strong>Billing Period:</strong> {{ meterProcessParams?.adjNo }}</p>
    </nz-flex>
</ng-template>