<nz-flex nzVertical="true" nzJustify="center" nzAlign="center" class="form-container" nzWrap="wrap">
    <form [formGroup]="meterProcessForm">
        <div class="form-item">
            <div class="label-container">
                <label class="form-label">Meter Process Type:</label>
                <nz-select 
                    formControlName="processType"
                    class="select-size"
                    nzPlaceHolder="Enter Process Type"
                    [nzOptions]="meterProcessTypeOptions"
                >
                </nz-select>
            </div>
        </div>
        
        @if (isAdjustmentType()) {
            <div class="form-item">
                <div class="label-container">
                    <label class="form-label">Adjustment Number</label>
                    <nz-input-number 
                        formControlName="adjNo" 
                        class="select-size"
                        nzPlaceHolder="Enter adjustment number"
                    >
                    </nz-input-number>
                </div>
            </div>
        }
        
        @if (isDailyType()) {
            <div class="form-item">
                <div class="label-container">
                    <label class="form-label">Trading Date:</label>
                    <nz-date-picker
                        nzShowNow="false"
                        formControlName="tradingDate"
                        class="select-size"
                        nzPlaceHolder="Select trading date"
                        [nzDisabledDate]="disableTradingDateRange"
                    ></nz-date-picker>
                </div>
            </div>
        }
        
        @if (isNotDailyType()) {
            <div class="form-item">
                <div class="label-container">
                    <label class="form-label">Billing Period:</label>
                    <nz-select
                        nzShowSearch
                        formControlName="billingPeriodName"
                        class="select-size"
                        nzPlaceHolder="Select Billing Period"
                    >
                        @for (billing of meterProcessBillingPeriod(); track billing.id) {
                            <nz-option [nzValue]="billing.name" [nzLabel]="billing.supplyMonth"></nz-option>
                        }
                    </nz-select>
                </div>
            </div>
        }
        
        <nz-space nzWrap="wrap">
            <div class="form-item">
                <label class="form-label">Date Time Range:</label>
                <nz-range-picker
                    formControlName="datetimeRange"
                    class="select-size"
                    nzShowNow="false"
                    [nzDisabledDate]="disableRangeDate"
                    [nzShowTime]="{
                        nzFormat: 'HH:mm',
                        nzHourStep: 1,
                        nzMinuteStep: 5
                    }"
                    [nzDisabledTime]="disabledRangeTime"
                    nzFormat="yyyy-MM-dd HH:mm"
                ></nz-range-picker>
            </div>
        </nz-space>
        
        <div class="form-item">
            <div class="label-container">
                <label class="form-label">Region/s:</label>
                <nz-select
                    formControlName="regionGroup"
                    class="select-size"
                    nzMode="multiple"
                    nzPlaceHolder="Select region group(s)"
                    nzShowSearch
                    nzAllowClear
                    [nzShowArrow]="true"
                    [nzMaxTagCount]="3"
                    [nzTokenSeparators]="[',']"
                    [nzOptions]="meterProcessRegionGroup"
                >
                </nz-select>
            </div>
        </div>

        <div class="form-item">
            <div class="label-container">
                <label class="form-label">MTN:</label>
                <nz-select
                    formControlName="mtn"
                    class="select-size"
                    nzMode="multiple"
                    nzPlaceHolder="Select MTN(s)"
                    nzShowSearch
                    nzAllowClear
                    [nzServerSearch]="true"
                    [nzShowArrow]="true"
                    [nzMaxTagCount]="3"
                    [nzTokenSeparators]="[',']"
                    (nzScrollToBottom)="getNextMtnRecord()"
                    (nzOnSearch)="searchMtnRecord($event)"
                    (nzClearIcon)="onSearchClear()"
                    [nzDropdownRender]="isLoadingTemplate"
                >
                    @for (mtnItem of mtnList(); track mtnItem.mtnName) {
                        <nz-option [nzValue]="mtnItem.mtnName" [nzLabel]="mtnItem.mtnName"></nz-option>
                    }
                </nz-select>
            </div>
        </div>
    </form>
</nz-flex>


<ng-template #isLoadingTemplate>
    @if (mtnIsLoading()) {<nz-spin></nz-spin>}
</ng-template>