<nz-flex nzVertical="true" nzJustify="center" nzAlign="center" class="form-container" nzWrap="wrap">
    <form [formGroup]="meterProcessForm">
        <div class="form-item">
            <div class="label-container">
                <label class="form-label">Meter Process Type:</label>
                <nz-select 
                    formControlName="processType"
                    class="select-size"
                    nzPlaceHolder="Enter Process Type"
                    [nzOptions]="meterProcessTypeOptions"
                >
                </nz-select>
            </div>
        </div>
        
        <div class="form-item" *ngIf="isAdjustmentType">
            <div class="label-container">
                <label class="form-label">Adjustment Number</label>
                <nz-input-number 
                    formControlName="adjNo" 
                    class="select-size"
                    nzPlaceHolder="Enter adjustment number"
                >
                </nz-input-number>
            </div>
        </div>
        
        <div class="form-item" *ngIf="isDailyType">
            <div class="label-container">
                <label class="form-label">Trading Date:</label>
                <nz-date-picker
                    formControlName="tradingDate"
                    class="select-size"
                    nzPlaceHolder="Select trading date"
                ></nz-date-picker>
            </div>
        </div>
        
        <div *ngIf="isNotDailyType">
            <div class="form-item">
                <div class="label-container">
                    <label class="form-label">Billing Period:</label>
                    <nz-select
                        formControlName="billingPeriod"
                        class="select-size"
                        nzPlaceHolder="Select Billing Period"
                    >
                        <nz-option
                            *ngFor="let billing of meterProcessBillingPeriod"
                            [nzValue]="billing.billingPeriod"
                            [nzLabel]="billing.supplyMonth"
                        >
                        </nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        
        <!-- DateTime fields for both DAILY and non-DAILY types -->
        <div *ngIf="isDailyType || isNotDailyType">
            <nz-space nzWrap="wrap">
                <div class="form-item" *nzSpaceItem>
                    <label class="form-label">Start Date Time:</label>
                    <nz-date-picker
                        formControlName="startDatetime"
                        class="select-size"
                        nzPlaceHolder="Select start date and time"
                        [nzShowTime]="{
                            nzMinuteStep: 5,
                            nzSecondStep: 60,
                            nzDefaultOpenValue: defaultStartTime
                        }"
                        nzFormat="yyyy-MM-dd HH:mm:ss"
                        (ngModelChange)="onDatetimeChange('startDatetime', $event)"
                    ></nz-date-picker>
                </div>
                <div class="form-item" *nzSpaceItem>
                    <label class="form-label">End Date Time:</label>
                    <nz-date-picker
                        formControlName="endDatetime"
                        class="select-size"
                        nzPlaceHolder="Select end date and time"
                        [nzShowTime]="{
                            nzMinuteStep: 5,
                            nzSecondStep: 60,
                            nzDefaultOpenValue: defaultEndTime
                        }"
                        nzFormat="yyyy-MM-dd HH:mm:ss"
                        (ngModelChange)="onDatetimeChange('endDatetime', $event)"
                    ></nz-date-picker>
                </div>
            </nz-space>
        </div>
        
        <div class="form-item">
            <div class="label-container">
                <label class="form-label">Region Group:</label>
                <nz-select
                    formControlName="regionGroup"
                    class="select-size"
                    nzPlaceHolder="Select region group"
                    [nzOptions]="meterProcessRegionGroup"
                >
                </nz-select>
            </div>
        </div>

        <div class="form-item">
            <div class="label-container">
                <label class="form-label">MTN:</label>
                <nz-select
                    formControlName="mtn"
                    class="select-size"
                    nzMode="multiple"
                    nzPlaceHolder="Select MTN(s)"
                    nzShowSearch
                    nzAllowClear
                    [nzMaxTagCount]="3"
                    [nzTokenSeparators]="[',']"
                >
                    <nz-option
                        *ngFor="let mtnItem of mtnList"
                        [nzValue]="mtnItem.id"
                        [nzLabel]="mtnItem.name"
                    >
                        <span>{{ mtnItem.name }}</span>
                        <span style="float: right; color: #999; font-size: 12px;">
                            {{ mtnItem.substation }}
                        </span>
                    </nz-option>
                </nz-select>
            </div>
        </div>
    </form>
</nz-flex>