<nz-card [nzTitle]="LABELS.MANAGE_SEC_PARAMETERS">
  <div class="d-flex justify-content-end">
    <nz-space>
      @if (hasManagePerm) {
        <button *nzSpaceItem nz-button nzType="primary" (click)="add()">{{ LABELS.ADD }} {{ LABELS.SEC_PARAMETER }}</button>
      }

      <form *nzSpaceItem nz-form [formGroup]="form" nzLayout="horizontal" class="column flex-grow-1">
        <nz-form-item class="mb-3">
          <nz-form-control>
            <input nz-input formControlName="fuelType" placeholder="{{LABELS.SEARCH}} {{LABELS.FUEL_TYPE}}" trim="blur">
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-space>
  </div>

  <!-- Table -->
  <app-paginated-table #paginatedTable [tableColumns]="tableColumns" [url]="listUrl()" [showActions]="hasManagePerm"
    [actionControls]="actionControls" [tableConfig]="{ height: '60vh' }"></app-paginated-table>
</nz-card>

<!-- Column Templates -->
<ng-template #tagTpl let-data="data">
  <nz-tag class="break-word-tag me-0" [nzColor]="data ? 'success' : 'default'">
    {{ data ? LABELS.ACTIVE : LABELS.INACTIVE  }}
  </nz-tag>
</ng-template>

<ng-template #fuelTypeTpl let-data="data" let-allData="allData">
  @if (!allData?.allFuelType) {
    <a nz-button nzSize="small" class="p-0" nzType="link" nz-popover [nzPopoverTitle]="LABELS.FUEL_TYPES" nzPopoverPlacement="right" [nzPopoverContent]="contentTpl">{{ LABELS.SELECTED }}</a>
    <ng-template #contentTpl>
      @for (item of data; track item) {
        <p class="mb-0">{{ fuelTypeRecords[item] }}</p>
      }
    </ng-template>
  } @else {
    {{ LABELS.ALL }}
  }
</ng-template>

