<nz-card [nzTitle]="LABELS.METER_DATA_VALIDATION">
  <!-- Filters -->
   @if (showForm) {
    <form nz-form [formGroup]="form" nzLayout="horizontal" class="column">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <nz-form-item class="mb-3">
            <nz-form-label nzSpan="8">{{ LABELS.BILLING_RUN_TYPE }}</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select formControlName="processType" [nzOptions]="processTypeOpts" [nzPlaceHolder]="LABELS.CHOOSE_HERE"
                [nzAllowClear]="true" nzShowSearch></nz-select>
            </nz-form-control>
          </nz-form-item>

          @if (isDaily) {
            <nz-form-item>
              <nz-form-label nzSpan="8">{{ LABELS.TRADING_DATE }}</nz-form-label>
              <nz-form-control nzSpan="16">
                <nz-date-picker formControlName="tradingDate" class="w-100"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          } @else {
            <nz-form-item class="mb-3">
              <nz-form-label nzSpan="8">{{ LABELS.BILLING_PERIOD }}</nz-form-label>
              <nz-form-control nzSpan="16">
                <nz-select formControlName="billingPeriod" [nzOptions]="billingPeriodOpts"
                  [nzPlaceHolder]="LABELS.CHOOSE_HERE" [nzAllowClear]="true" nzShowSearch></nz-select>
              </nz-form-control>
            </nz-form-item>
          }


        </div>
      </div>
    </form>
   }

  <div class="d-flex justify-content-between mb-3">
    <nz-space>
      @if (showForm) {
        <button nz-button *nzSpaceItem [disabled]="form.invalid" (click)="resetFilters()">
          {{ LABELS.CLEAR_FILTERS }}
        </button>
      }

      <button nz-button *nzSpaceItem nzType="primary" [disabled]="form.invalid" (click)="showForm ? paginatedTable?.search() : showForm =! showForm">
        {{ showForm ? LABELS.APPLY_FILTERS : LABELS.SET_FILTERS }}
      </button>
    </nz-space>

    <button nz-button nzType="primary" (click)="generate()">{{ LABELS.GENERATE }}</button>
  </div>

  <!-- Table -->
  <app-paginated-table #paginatedTable [tableColumns]="tableColumns" [url]="listUrl()" [showActions]="true"
    [actionControls]="actionControls" [tableConfig]="{ height: '60vh' }" [enableExpand]="true" [expandTpl]="expandTpl"></app-paginated-table>

  <ng-template #expandTpl let-row="row">
    <div class="d-flex w-100 my-2 pe-2">
      <app-template-table class="w-100" [tableColumns]="expandedTableCols" [tableData]="row?.pipelineRuns" [actionsTpl]="expandTplActions"></app-template-table>

      <ng-template #expandTplActions let-subRowData="row">
        @if (subRowData.fileName) {
          <a nz-button nzType="link" nzSize="small" (click)="download(subRowData)" nzBlock>{{ LABELS.DOWNLOAD }}</a>
        }
      </ng-template>
    </div>
  </ng-template>
</nz-card>

<!-- Column Templates -->
<ng-template #fileTpl let-d="allData">
  <div class="text-break" style="max-width: auto;">
    {{ d.fileName }}
  </div>
</ng-template>

<ng-template #bpTpl let-allData="allData">
  @let params = allData?.parameters;
  {{ params?.processType === 'DAILY' ? params?.startDate : `${params?.startDate} - ${params?.endDate}` }}
</ng-template>

<ng-template #tagTpl let-data="data">
  <nz-tag class="break-word-tag">
    {{ data }}
  </nz-tag>
</ng-template>

<ng-template #tagPopoverTpl let-allData="allData">
  <nz-tag
    nz-popover
    [nzPopoverContent]="allData.status === 'Failed' ? errorTpl : undefined"
    [nzPopoverTitle]="allData.status === 'Failed' ? 'Error' : undefined"
    nzPopoverTrigger="hover"
    class="break-word-tag">
    {{ allData.status }}
  </nz-tag>
  <ng-template #errorTpl>
    <div style="max-width: 800px; max-height: 300px; overflow: auto;">
      <pre>{{ allData.message }}</pre>
    </div>
  </ng-template>
</ng-template>


