<nz-card [nzTitle]="LABELS.METER_DATA_VALIDATION">
  <!-- Filters -->
   @if (showForm) {
    <form nz-form [formGroup]="form" nzLayout="horizontal" class="column">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <nz-form-item class="mb-3">
            <nz-form-label nzSpan="8">{{ LABELS.BILLING_PERIOD }}</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select formControlName="billingPeriod" [nzOptions]="billingPeriodOpts"
                [nzPlaceHolder]="LABELS.CHOOSE_HERE" [nzAllowClear]="true" nzShowSearch></nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mb-3">
            <nz-form-label nzSpan="8">{{ LABELS.BILLING_RUN_TYPE }}</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select formControlName="processType" [nzOptions]="processTypeOpts" [nzPlaceHolder]="LABELS.CHOOSE_HERE"
                [nzAllowClear]="true" nzShowSearch></nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
   }

  <div class="d-flex justify-content-between mb-3">
    <nz-space>
      @if (showForm) {
        <button nz-button *nzSpaceItem [disabled]="form.invalid" (click)="resetFilters()">
          {{ LABELS.CLEAR_FILTERS }}
        </button>
      }

      <button nz-button *nzSpaceItem nzType="primary" [disabled]="form.invalid" (click)="showForm ? paginatedTable?.search() : showForm =! showForm">
        {{ showForm ? LABELS.APPLY_FILTERS : LABELS.SET_FILTERS }}
      </button>
    </nz-space>

    <button nz-button nzType="primary" (click)="generate()">{{ LABELS.GENERATE }}</button>
  </div>

  <!-- Table -->
  <app-paginated-table #paginatedTable [tableColumns]="tableColumns" [url]="listUrl()" [showActions]="true"
    [actionControls]="actionControls" [tableConfig]="{ height: '60vh' }" [enableExpand]="true" [expandTpl]="expandTpl"></app-paginated-table>

  <ng-template #expandTpl let-row="row">
    <app-template-table [tableColumns]="expandedTableCols" [tableData]="row?.pipelineRuns"></app-template-table>
  </ng-template>
</nz-card>

<!-- Column Templates -->
<ng-template #fileTpl let-d="allData">
  <!-- {{ `Metering_Masterfile_${d.parameters.endDate | date: 'yyyy_MM_dd'}_${d.parameters.processType}_${d?.pipelineRuns[0]?.workspaceId}.xlsx` }} -->
</ng-template>

<ng-template #bpTpl let-allData="allData">
  {{ `${allData?.parameters?.startDate} - ${allData?.parameters?.endDate}` }}
</ng-template>

<ng-template #tagTpl let-data="data">
  <nz-tag class="break-word-tag">
    {{ data }}
  </nz-tag>
</ng-template>


