.form-container {
    margin-bottom: 24px;
    .form-item {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      
      .form-label {
        min-width: 150px;
        text-align: right;
        margin-right: 8px;
        font-weight: 500;
      }
  
      .select-size {
        width: 300px;
      }
    }
  }

.error-message {
  color: red;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

.region-item {
  justify-content: flex-start;

  .form-label {
    min-width: 0;
    width: auto;
    text-align: left;
    margin-right: 8px;
  }
}

.region-checkboxes {
  display: flex;
  align-items: center;
  gap: 25px;
}

::ng-deep .zebra-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

::ng-deep .zebra-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}