<app-template-table class="w-100" [tableColumns]="columns" [tableData]="useCustomTableData() || tableData"></app-template-table>

<ng-template #tagTpl let-data="data">
  <nz-tag class="break-word-tag">
    {{ data }}
  </nz-tag>
</ng-template>

<ng-template #nameTpl let-data="data" let-allData="allData">
  <div class="cell-lines">
    <div class="cell-main">
      {{ data + (allData.partial ? " - Partial" : "")}}
    </div>

    @let isFinalize = allData?.name?.includes('finalize');

    @if (allData.parameters?.meteringWorkspaceId && LABELS.GENERATE_INPUT_WORKSPACE  === data) {
      <div class="cell-sub">
        <span class="cell-sub-label">{{ LABELS.METERING_WORKSPACE_ID }}: </span>
        <span class="cell-sub-value">{{ allData.parameters.meteringWorkspaceId?.numericValue }}</span>
      </div>
    }

    @if (allData.parameters?.remarks?.textValue && isFinalize) {
      <div class="cell-sub">
        <span class="cell-sub-label">{{ LABELS.REMARKS }}: </span>
        <span class="cell-sub-value">{{ allData.parameters?.remarks?.textValue }}</span>
      </div>
    }

  </div>
</ng-template>

