<nz-spin [nzSpinning]="busy$ && !busy$.closed">
  @if (paramForm.invalid && paramForm.touched) {
  <nz-alert nzBanner nzType="error" [nzMessage]="MESSAGE.REQUIRED_FIELDS" class="mb-3"></nz-alert>
  }

  <form nz-form [formGroup]="paramForm" nzLayout="vertical" nzNoColon>
    <nz-form-item>
      <nz-form-label nzRequired>{{ LABELS.FUEL_TYPE }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="fuelType" nzMode="multiple" nzShowArrow [nzOptions]="fuelTypeOptions" [nzPlaceHolder]="LABELS.CHOOSE_HERE"
          [nzAllowClear]="true" nzShowSearch></nz-select>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex gap-4">
      <nz-form-item class="w-50">
        <nz-form-label nzRequired>{{ LABELS.EFFECTIVE_START_DATE }}</nz-form-label>
        <nz-form-control>
          <app-date-time-picker formControlName="effectiveStart"></app-date-time-picker>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-50">
        <nz-form-label>{{ LABELS.EFFECTIVE_END_DATE }}</nz-form-label>
        <nz-form-control>
          <app-date-time-picker formControlName="effectiveEnd" [disabledDate]="disabledDate"></app-date-time-picker>
        </nz-form-control>
      </nz-form-item>
    </div>


    <nz-form-item class="mb-0">
      <nz-form-label nzRequired>{{ LABELS.STATUS }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="active" [nzOptions]="statusOptions" [nzPlaceHolder]="LABELS.CHOOSE_HERE"
          [nzAllowClear]="true" nzShowSearch></nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-spin>


<div class="d-flex justify-content-end" *nzModalFooter>
  <nz-space>
    <button *nzSpaceItem nz-button (click)="triggerClose()">{{ LABELS.CLOSE }}</button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="save()" [disabled]="paramForm?.invalid">{{ LABELS.SAVE }}</button>
  </nz-space>
</div>
