<nz-table #table
  [nzWidthConfig]="widthConfig"
  nzSize="small"
  [nzLoading]="showCustomLoading ? loading : isLoading"
  [nzOuterBordered]="true"
  [nzFrontPagination]="false"
  [nzData]="tableData"
  [nzTotal]="tableParams.totalElements"
  [nzPageIndex]="tableParams.page"
  [nzPageSize]="tableParams.size"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzScroll]="{ y: tableConfig.height }">
  <thead>
    @if (enableExpand()) {
      <th nzAlign="center"></th>
    }

    @if (enableCheckbox) {
      <th
        [nzShowCheckbox]="enableCheckbox && !disableSelectAll"
        [nzDisabled]="!tableData.length"
        [nzIndeterminate]="isIndeterminate"
        [nzChecked]="isAllChecked"
        (nzCheckedChange)="checkAll($event)"
        class="p-3 fw-normal"
        nzAlign="center">
      </th>
    }

    @for (column of tableColumns; track column.label) {
      <th [nzAlign]="column?.align || 'left'" class="p-3" [nzColumnKey]="column.propName" [nzShowSort]="column?.sort" [nzSortFn]="column?.sort ?? false">{{ column.label }}</th>
    }

    @if (showActions()) {
      <th nzAlign="center" class="p-3" nzWidth="100px">
        {{ LABELS.ACTIONS }}
      </th>
    }

  </thead>
  <tbody>
    @for (row of tableData; track row.id) {
      <tr>
        @if (enableExpand()) {
          <td nzAlign="center" class="text-center" [nzExpand]="expandSet.has(row.id)" (nzExpandChange)="onExpandChange(row.id, $event)"></td>
        }

        @if (enableCheckbox) {
          <td
            [nzChecked]="selectedItems.has(row[checkboxProperty])"
            [nzDisabled]="checkboxCondition?.(row) || false"
            (nzCheckedChange)="checkRow($event, row[checkboxProperty])"
            class="px-3"></td>
        }

        @for (column of tableColumns; track column.label) {

          @let data = (column.secondPropName ? row[column.propName][column.secondPropName] : row[column.propName]);
          @let align = column?.align || 'left';

          @switch (column.type) {
            @case ('template') {
              <td [nzAlign]="align" class="px-3">
                <ng-container *ngTemplateOutlet="column?.template; context: { data, allData: row }"></ng-container>
              </td>
            }

            @case ('date') {
              <td [nzAlign]="align" class="px-3">{{ (data | date: 'yyyy-MM-dd HH:mm') || '-'}}</td>
            }

            @case ('boolean') {
              <td [nzAlign]="align" class="px-3">{{ (data === true ? 'Yes' : data === false ? 'No' : null) || '-'}}</td>
            }

            @case ('enumLabel') {
              <td [nzAlign]="align" class="px-3">{{ (data | enumToLabel) || '-'}}</td>
            }

            @default {
              <td [nzAlign]="align" class="px-3">{{ data || '-' }}</td>
            }
          }
        }

        @if (showActions()) {
          <td nzAlign="center">
            @let actions = getActions(row);
            @let actionLength = actions?.length || 0;
            @let isInProgress = showInProgress && row?.status?.startsWith('In-Progress');

            @if (progressBarCondition?.(row)) {
              <div class="w-100">
                <div style="max-width: 150px" class="mx-auto">
                  <app-progress-bar></app-progress-bar>
                </div>
              </div>
            } @else {
              @if (isInProgress) {
                <div class="px-3">
                  <app-progress-bar></app-progress-bar>
                </div>
              }

              @if (actionLength > 1 && !isInProgress) {
                @let rowLoading = actions[0]?.loading;
                <button nz-button nz-dropdown [nzLoading]="rowLoading || isLoading" nzTrigger="click" nzPlacement="bottomRight" nzArrow [nzDropdownMenu]="menu">{{ LABELS.SELECT_ACTION }} <nz-icon nzType="down" /></button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    @for (action of actions; track action.label) {
                      <li nz-menu-item (click)="!action.loading && action.click(row)" [nzDanger]="action?.danger" [nzDisabled]="action?.loading">{{ action.label }}</li>
                    }
                  </ul>
                </nz-dropdown-menu>
              }

              @if (actionLength === 1 && !isInProgress) {
                @let action = actions[0];
                <button nz-button nzType="link" [nzLoading]="action?.loading || isLoading" [disabled]="action?.loading || isLoading" (click)="action.click(row)" [nzDanger]="action?.danger">{{ action.label }}</button>
              }
            }
          </td>
        }
      </tr>

      @if (expandSet.has(row.id)) {
        <tr>
          <td [attr.colspan]="widthConfig.length" class="px-3" style="background-color: whitesmoke;">
            <ng-container *ngTemplateOutlet="expandTpl()!; context:  { row }"></ng-container>
          </td>
        </tr>
      }
    }
  </tbody>
</nz-table>
