<nz-spin [nzSpinning]="busy$ && !busy$.closed">

  @if (form.invalid && form.touched) {
    <nz-alert nzBanner nzType="error" [nzMessage]="MESSAGE.REQUIRED_FIELDS" class="mb-3"></nz-alert>
  }

  <form nz-form [formGroup]="form" nzLayout="vertical" nzNoColon class="row">

    <nz-form-item class="col-sm-12">
      <nz-form-label nzRequired>{{ isPenaltyMarketFee() ? LABELS.ISSUED_DATE : LABELS.ALLOCATION_DATE }}</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="allocDate" class="w-100" [nzDisabledDate]="disabledAllocDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    @if (!isPrelim) {
      <nz-form-item class="col-sm-12">
        <nz-form-label nzRequired>{{ isPenaltyMarketFee() ? LABELS.DUE_DATE : LABELS.ALLOCATION_DUE_DATE }}</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="dueDate" class="w-100" [nzDisabledDate]="disabledDueDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    }

    <nz-form-item class="col-sm-12">
      <nz-form-label>{{ isPenaltyMarketFee() ? LABELS.REMARKS : LABELS.ALLOCATION_REMARKS }}</nz-form-label>
      <nz-form-control>
        <textarea nz-input formControlName="remarks" rows="2"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

