<!-- Reusable Table Component for Fixed Data, implementing NgZorro nzTemplateMode -->
<nz-table #table nzTemplateMode [nzWidthConfig]="widthConfig" [nzBordered]="true" nzSize="small" [nzLoading]="isLoading" [nzOuterBordered]="true" [nzScroll]="{ x: 'auto' }" class="m-0 template-table">
  <thead>
    @if (enableExpand()) {
      <th nzAlign="center"></th>
    }

    @if (enableCheckbox) {
      <th
        [nzShowCheckbox]="enableCheckbox && !disableSelectAll"
        [nzDisabled]="!tableData.length"
        [nzIndeterminate]="isIndeterminate"
        [nzChecked]="isAllChecked"
        (nzCheckedChange)="checkAll($event)"
        class="p-3 fw-normal"
        nzAlign="center">
      </th>
    }

    @for (column of tableColumns; track column.label) {
      <th [nzAlign]="column?.align || 'left'" class="p-3">{{ column.label }}</th>
    }

    @if (actionsTpl()) {
      <th nzAlign="center">{{ LABELS.ACTIONS }}</th>
    }

  </thead>
  <tbody>
    @for (row of tableData; track $index) {
      <tr>
        @if (enableExpand()) {
          <td nzAlign="center" class="text-center" [nzExpand]="expandSet.has(row[expandProp() || 'id'])" (nzExpandChange)="onExpandChange(row[expandProp() || 'id'], $event)"></td>
        }

        @if (enableCheckbox) {
          <td
            [nzChecked]="selectedItems.has(row[checkboxProperty])"
            [nzDisabled]="checkboxCondition(row)"
            (nzCheckedChange)="checkRow($event, row[checkboxProperty])"
            class="px-3"></td>
        }

        @for (column of tableColumns; track column.label) {

          @let data = (column.secondPropName ? row[column.propName][column.secondPropName] : row[column.propName]);
          @let align = column?.align || 'left';
          @let showCell = !column?.hasRowSpan || !!row?.rowSpan;
          @let rowspanValue = column?.hasRowSpan ? row?.rowSpan : null;

          @if (showCell) {
            @switch (column.type) {
              @case ('template') {
                <td [nzAlign]="align" class="px-3" [attr.rowspan]="rowspanValue">
                  <ng-container *ngTemplateOutlet="column?.template; context: { data, allData: row }"></ng-container>
                </td>
              }

              @case ('date') {
                <td [nzAlign]="align" class="px-3" [attr.rowspan]="rowspanValue">{{ (data | date: 'yyyy-MM-dd HH:mm') || '-'}}</td>
              }

              @case ('enumLabel') {
                <td [nzAlign]="align" class="px-3" [attr.rowspan]="rowspanValue">{{ (data | enumToLabel) || '-'}}</td>
              }

              @case ('amount') {
                <td [nzAlign]="align" class="px-3" [attr.rowspan]="rowspanValue">{{ (data | number: '1.2-2') || '-'}}</td>
              }

              @default {
                <td [nzAlign]="align" class="px-3 text-nowrap" [attr.rowspan]="rowspanValue">{{ data || '-' }}</td>
              }
            }
          }
        }

        @if (actionsTpl()) {
          <td nzAlign="center">
            <ng-container *ngTemplateOutlet="actionsTpl()!; context: { row }"></ng-container>
          </td>
        }
      </tr>

      @if (expandSet.has(row[expandProp() || 'id'])) {
        <tr>
          <td [attr.colspan]="widthConfig.length" class="p-3" [style.background-color]="useDarkBg() ? '#e1e1e1' : 'whitesmoke'">
            <ng-container *ngTemplateOutlet="expandTpl()!; context:  { row }"></ng-container>
          </td>
        <tr>
      }

    }

    @if (!tableData?.length) {
      <tr>
        <td [attr.colspan]="widthConfig.length" nzAlign="center">
          <nz-empty nzNotFoundImage="simple"></nz-empty>
        </td>
      </tr>
    }

  </tbody>
</nz-table>
