<nz-spin [nzSpinning]="busy$ && !busy$.closed">
  @if (form.invalid && form.touched) {
  <nz-alert nzBanner nzType="error" [nzMessage]="MESSAGE.REQUIRED_FIELDS" class="mb-3"></nz-alert>
  }

  <form nz-form [formGroup]="form" nzLayout="vertical" nzNoColon>
    <nz-form-item>
      <nz-form-label nzRequired>{{ LABELS.BILLING_RUN_TYPE }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="processType" [nzOptions]="processTypeOpts" [nzPlaceHolder]="LABELS.CHOOSE_HERE"
          [nzAllowClear]="true" nzShowSearch></nz-select>
      </nz-form-control>
    </nz-form-item>

    @if (isDaily) {
      <nz-form-item>
        <nz-form-label nzRequired>{{ LABELS.TRADING_DATE }}</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="tradingDate" class="w-100" [nzDisabledDate]="nzDisabledDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    }

    @if (!isDaily && this.processType?.value) {
      <nz-form-item>
        <nz-form-label nzRequired>{{ LABELS.BILLING_PERIOD }}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="billingPeriod" [nzOptions]="billingPeriodOpts" [nzPlaceHolder]="LABELS.CHOOSE_HERE"
            [nzAllowClear]="true" nzShowSearch></nz-select>
        </nz-form-control>
      </nz-form-item>
    }

    <nz-card nzSize="small" [nzTitle]="title">
      <ng-template #title>
        <label nz-checkbox
        [nzDisabled]="!processType?.value"
        [ngModel]="checked()"
        (ngModelChange)="checked.set($event); onCheckedChange()"
        [nzIndeterminate]="!!reportCodes?.value?.length && (enabledOptions !== reportCodes?.value?.length)"
        [ngModelOptions]="{ standalone: true }">{{ isAllSelected ? LABELS.DESELECT_ALL : LABELS.SELECT_ALL }} {{ LABELS.REPORT_CODE }}s</label>
      </ng-template>

      <nz-form-item class="mb-0">
        <nz-form-control>
          <nz-checkbox-group class="d-flex flex-column row-gap-2" [nzOptions]="options" formControlName="reportCodes"/>
        </nz-form-control>
      </nz-form-item>
    </nz-card>


  </form>

  <div class="d-flex justify-content-end" *nzModalFooter>
    <nz-space>
      <button *nzSpaceItem nz-button (click)="triggerClose()">{{ LABELS.CLOSE }}</button>
      <button *nzSpaceItem nz-button nzType="primary" (click)="triggerOk()">{{ LABELS.GENERATE }}</button>
    </nz-space>
  </div>
</nz-spin>