<nz-card [nzTitle]="LABELS.MQ_UPLOADER">
  <div class="d-flex {{tabIndex ? 'justify-content-between': 'justify-content-end'}}">
    <button nz-button *ngIf="tabIndex" class="mb-3" [nzType]="showFilters ? 'default' : 'primary'"  (click)="resetFilters()">{{ LABELS.CLEAR_FILTERS }}</button>
    <button nz-button *ngIf="!tabIndex" nzType="primary" (click)="import()" [disabled]="!disableImport || !isAllowedImport" nz-tooltip [nzTooltipTitle]="isAllowedImport ? '' : MESSAGES.INVALID_MQ_TIME(timeLimit)">{{ LABELS.START_IMPORT }}</button>
  </div>

  @if (tabIndex) {
    <app-mq-history-filters #filtersComp (emitFiltersEvent)="triggerSearch($event)"></app-mq-history-filters>
  }

  <nz-tabset [nzDestroyInactiveTabPane]="true" [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="onTabChange($event)" class="mt-2" [nzTabBarExtraContent]="hasInProgress ? extraTpl : undefined">
    <nz-tab [nzTitle]="LABELS.ONGOING">
      <app-template-table #ongoingTable [tableColumns]="ongoingTableColumns" [tableData]="ongoingTableData"></app-template-table>
    </nz-tab>

    <nz-tab [nzTitle]="LABELS.HISTORY">
      <app-paginated-table #paginatedTable [tableColumns]="tableColumns" [url]="listUrl()"></app-paginated-table>
    </nz-tab>
  </nz-tabset>
</nz-card>

<ng-template #extraTpl>
  <div class="d-flex">
    <p class="mb-0 text-muted">{{ MESSAGES.UPLOAD_IN_PROGRESS }} {{ ongoingInProgress.length }} / {{ ongoingTableData.length }}</p>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate" class="ms-2"></nz-spin>
    <ng-template #indicatorTemplate><nz-icon nzType="loading" /></ng-template>
  </div>
</ng-template>


<!-- Column Templates -->
<ng-template #sizeTpl let-data="data">
  {{ (data | fileSize) || '-' }}
</ng-template>

<ng-template #transacIdTpl let-data="data" let-allData="allData">
  <span class="{{data && tabIndex && 'text-primary'}}" nz-popover nzPopoverPlacement="right" [nzPopoverContent]="data && tabIndex && popoverTransacId">{{ data || '-' }}</span>

  <ng-template #popoverTransacId>
    <div class="d-flex flex-column">
      <p class="mb-0">{{ LABELS.UPLOADING_DATE_AND_TIME }}: <span class="fw-bold">{{ allData?.uploadDate }}</span></p>
      <p class="mb-0">{{ LABELS.TOTAL_NUMBER_OF_FILES_UPLOADED }}: <span class="fw-bold">{{ allData?.fileCount }}</span></p>
      <p class="mb-0">{{ LABELS.NO_OF_FILES_SUCCESSFULLY_UPLOADED }}: <span class="fw-bold">{{ allData?.rejected }}</span></p>
      <p class="mb-0">{{ LABELS.NO_OF_FILES_REJECTED }}: <span class="fw-bold">{{ allData?.rejected }}</span></p>
    </div>
  </ng-template>
</ng-template>


<ng-template #billingDateTpl let-allData="allData">
  {{ allData.category === MQ_UPLOAD_CATEGORY.DAILY ? (allData.tradingDate | date: 'yyyy-MM-dd') : (allData.tradingMonth | date: 'MMMM yyyy') }}
</ng-template>

<ng-template #statusTpl let-data="data" let-allData="allData">
  @switch(data) {
    @case (Status.REJECTED) {
      <nz-tag nzColor="red" class="me-0" [nzBordered]="false" nz-tooltip nzTooltipPlacement="left" nzTooltipColor="white" [nzTooltipTitle]="tooltipTpl">{{data}}</nz-tag>
      <ng-template #tooltipTpl>
        <p class="fw-bold mb-0 text-muted">{{ LABELS.UPLOAD_ERROR }}</p>
        <p class="mb-0 text-muted">{{ allData?.errorMessage || allData?.errorDetails }}</p>
      </ng-template>
    }

    @case (Status.IN_PROGRESS) {
      <nz-progress [nzPercent]="allData?.percentage || 0" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" nzStatus="active" [nzShowInfo]="true"></nz-progress>
    }

    @case (Status.ACCEPTED) {
      <nz-tag nzColor="green" class="me-0" [nzBordered]="false">{{data}}</nz-tag>
    }

    @default {
      <nz-tag nzColor="cyan" class="me-0" [nzBordered]="false">{{data}}</nz-tag>
    }
  }
</ng-template>

@if (hasInProgress && tabIndex) {
  <nz-float-button nzShape="circle" style="inset-inline-end: 50px" [nzIcon]="floatIcon">
  </nz-float-button>

  <ng-template #floatIcon>
    <nz-icon nzType="upload"></nz-icon>
  </ng-template>
}
