.centered-inner-table {
    display: flex;
    justify-content: center;
    width: 100%;
  
    // // If you want to control the inner table width
    nz-table {
      width: 95%; // You can adjust this percentage
    }
  }