<nz-table
    #nzTable
    [nzData]="tableData().pipelineGroup"
    [nzPageSize]="tableData().size"
    [nzPageIndex]="tableData().number + 1" 
    [nzTotal]="tableData().totalElements"
    [nzFrontPagination]="false"
    [nzLoading]="isLoading()"
    (nzPageIndexChange)="onPageChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    class="nested-table-striped"
>
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            @for (column of columnItem; track column) {
                <th>{{column.name}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (data of nzTable.data; track data; let parentIndex = $index) {
            <tr [class]="getParentRowClass(parentIndex)">
                <td [nzExpand]="expandSet.has(parentIndex)" (nzExpandChange)="onExpandChange($event, parentIndex)"></td>
                <td>{{ data.processType === processTypes.ADJUSTMENT ? data.processType + " - " + data.adjNo : data.processType }}</td>
                <td>{{ data.billingPeriod ? data.billingStartDate + " - " + data.billingEndDate : data.tradingDate }}</td>
                <td>
                    <nz-tag [nzColor]="'blue'">
                        {{ data.pipelines.length || 0 }} Jobs
                    </nz-tag>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(parentIndex)" [class]="getParentRowClass(parentIndex) + '-expanded'">
                <td [attr.colspan]="columnItem.length + 1" style="padding: 0;">
                    <nz-table
                        #innerTable
                        [nzData]="data.pipelines || []"
                        [nzSize]="'small'"
                        [nzShowPagination]="false"
                        [nzTableLayout]="'fixed'"
                        class="child-table"
                    >
                        <thead>
                            <tr>
                                <th nzWidth="40px"></th>
                                <th nzWidth="110px">Workspace ID</th>
                                @for (column of childColumnItem; track column) {
                                    <th>{{column.name}}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (pipeline of innerTable.data; track pipeline; let pipelineIndex = $index) {
                                <tr [class]="getChildRowClass(parentIndex, pipelineIndex)">
                                    <td [nzExpand]="isPipelineExpanded(parentIndex, pipelineIndex)"
                                        (nzExpandChange)="onPipelineExpandChange($event, parentIndex, pipelineIndex)"></td>
                                    <td>{{ pipeline.id }}</td>
                                    <td>{{ dfs.formatDateTime(pipeline.lastModifiedDatetime) }}</td>
                                    <td>{{ pipeline.lastModifiedBy }}</td>
                                    <td>{{ data.processType }}</td>
                                    <td>{{ pipeline.parameters.startDatetime }}</td>
                                    <td>{{ pipeline.parameters.endDatetime }}</td>
                                    <td nzBreakWord>{{ pipeline.parameters.mtn || 'ALL' }}</td>
                                  <td nzBreakWord>
                                    <nz-tag class="break-word-tag">
                                      {{ pipeline.status }}
                                    </nz-tag>
                                  </td>
                                    <td>
                                        <!-- PROGRESS SECTION -->
                                    </td>
                                    <td>
                                        @if (pipeline.status.toLowerCase() === meterProcessStatus.COMPLETED_METER_DATA ||
                                                pipeline.status.toLowerCase() === meterProcessStatus.COMPLETED_GESQ ||
                                                    pipeline.status.toLowerCase() === meterProcessStatus.FAILED_GESQ ||
                                                    pipeline.status.toLowerCase() === meterProcessStatus.CANCELLED_GESQ) {
                                            <a nz-button nzType="link" nzBlock class="break-word-button"
                                                (click)="openJobModal(pipeline, getJobTypeFromStatus(pipeline.status), meterDataPipelines.SETTLEMENT_READY, data)">
                                                Run Settlement-Ready
                                            </a>
                                        }
                                        @if (pipeline.status.toLowerCase() === meterProcessStatus.COMPLETED_GESQ ||
                                                pipeline.status.toLowerCase() === meterProcessStatus.FAILED_SETTLEMENT_READY ||
                                                    pipeline.status.toLowerCase() === meterProcessStatus.CANCELLED_SETTLEMENT_READY) {
                                            <a nz-button nzType="link" nzBlock class="break-word-button"
                                                (click)="openJobModal(pipeline, getJobTypeFromStatus(pipeline.status), meterDataPipelines.FINALIZE_READY, data)">
                                                Finalize Settlement - Ready
                                            </a>
                                        }
                                        @if ((data.processType === processTypes.DAILY && (pipeline.status.toLowerCase() === meterProcessStatus.COMPLETED_GESQ || pipeline.status.toLowerCase().endsWith(meterDataPipelineProcess.SETTLEMENT_READY))) ||
                                                (data.processType !== processTypes.DAILY && pipeline.status.toLowerCase() === meterProcessStatus.COMPLETED_SETTLEMENT_READY)) {
                                                @if(!isDownloadingReport(pipeline.id)){
                                                    <button nz-button nzType="link" nzBlock class="break-word-button"
                                                        [disabled]="isDownloadingReport(pipeline.id)"
                                                        (click)="downloadReport(pipeline)">
                                                            <span>Download Report</span>
                                                    </button> 
                                                }@else {
                                                    <div nz-flex nzGap="middle">
                                                        <nz-spin></nz-spin>
                                                        <span>Downloading</span>
                                                    </div>
                                                }
                                        }
                                    </td>
                                </tr>
                                <tr [nzExpand]="isPipelineExpanded(parentIndex, pipelineIndex)" [class]="getChildRowClass(parentIndex, pipelineIndex) + '-expanded'">
                                    <td [attr.colspan]="childColumnItem.length + 1" style="padding: 0;">
                                        <div style="padding: 16px; background-color: #fafafa;">
                                            <nz-table
                                                #pipelineTable
                                                [nzData]="pipeline.pipelineRuns || []"
                                                [nzSize]="'small'"
                                                [nzShowPagination]="false"
                                                [nzTableLayout]="'fixed'"
                                                style="width: 100%;"
                                                class="grandchild-table"
                                            >
                                                <thead>
                                                    <tr>
                                                        @for (column of pipelineColumnItem; track column) {
                                                            <th>{{column.name}}</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (runs of pipelineTable.data; track runs; let runIndex = $index) {
                                                        <tr [class]="getGrandchildRowClass(parentIndex, pipelineIndex, runIndex)">
                                                            <td>{{runs.name}}</td>
                                                            <td>{{runs.runId}}</td>
                                                            <td>{{dfs.formatDateTime(runs.runStart)}}</td>
                                                            <td>{{dfs.formatDateTime(runs.runEnd)}}</td>
                                                            <td>{{runs.duration}}</td>
                                                            <td>{{runs.runBy}}</td>
                                                            <td>
                                                              <nz-tag class="break-word-tag" nz-tooltip [nzTooltipTitle]="runs.status === 'Failed' ? runs.message : ''">
                                                                {{ runs.status }}
                                                              </nz-tag>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (!pipeline.pipelineRuns || pipeline.pipelineRuns.length === 0) {
                                                        <tr class="no-data-row">
                                                            <td [attr.colspan]="pipelineColumnItem.length" style="text-align: center; color: #999;">
                                                                No pipeline runs
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </nz-table>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (!data.pipelines || data.pipelines.length === 0) {
                                <tr class="no-data-row">
                                    <td [attr.colspan]="childColumnItem.length + 1" style="text-align: center; color: #999;">
                                        No jobs found
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </nz-table>
                </td>
            </tr>
        }
    </tbody>
</nz-table>

<ng-template #runJobs>
    <nz-flex nzVertical="true">
        @if (currentModalData) {
            <nz-result
                nzStatus="info"
                [nzTitle]="'You are going to run a ' + currentModalData.jobType + ' Job'">
            </nz-result>
            <nz-flex nzGap="large" nzAlign="start">
                <p><strong>Job Type:</strong> {{ currentModalData.processType }}</p>
                @if (currentModalData.adjustmentNumber) {<p><strong>Adjustment Number:</strong> {{ currentModalData.adjustmentNumber }}</p>}
            </nz-flex>
            <nz-flex nzGap="large" nzAlign="start">
                @if (currentModalData.billingPeriod) {<p><strong>Billing Period:</strong> {{ currentModalData.billingPeriod }}</p>}
                @if (currentModalData.tradingDate) {<p><strong>Trading Date:</strong> {{ currentModalData.tradingDate }}</p>}
            </nz-flex>
            <nz-flex nzGap="large" nzAlign="start">
                <p><strong>Start Date Time:</strong> {{ currentModalData.pipeline.parameters.startDatetime }}</p>
                <p><strong>End Date Time:</strong> {{ currentModalData.pipeline.parameters.endDatetime }}</p>
            </nz-flex>
            <nz-flex nzGap="large" nzAlign="start">
                <p><strong>MTN/s:</strong> {{ currentModalData.pipeline.parameters.mtn || 'ALL' }}</p>
            </nz-flex>
        } @else {
            <nz-result nzStatus="info" nzTitle="Loading job information..."></nz-result>
        }
    </nz-flex>
</ng-template>
