<nz-table #nzTable [nzData]="mockMeterProcessData" [nzShowPagination]="true">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th>Process Type</th>
            <th>Billing Period / Trading Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of nzTable.data; trackBy: trackByBillingPeriod">
            <tr>
                <td [nzExpand]="expandSet.has(data.billingPeriod)" (nzExpandChange)="onExpandChange(data.billingPeriod, $event)"></td>
                <td>{{ data.processType }}</td>
                <td>{{ data.date | formatDate }}</td>
                <td></td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.billingPeriod)">
                <div class="centered-inner-table">
                    <nz-table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Job ID</th>
                                <th>Run Date and Time</th>
                                <th>Process Type</th>
                                <th>Trading Date</th>
                                <th>Region Group</th>
                                <th>MTN</th>
                                <th>Status</th>
                                <th>Progress</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Inner table data rows would go here -->
                        </tbody>
                    </nz-table>
                </div>
            </tr>
        </ng-container>
    </tbody>
</nz-table>