<nz-table
    #nzTable
    [nzData]="tableData.pipelines"
    [nzPageSize]="tableData.size"
    [nzPageIndex]="tableData.number"
    [nzTotal]="tableData.totalElements"
    [nzFrontPagination]="false">
    <thead>
        <tr>
            @for (column of tableItem; track column.key) {
                <th>{{column.name}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (data of nzTable.data; track data;) {
            <tr>
                @for (column of tableItem; track column.key) {
                    <td>
                        @if (isActionColumn(column)) {
                            <nz-select
                                [ngModel]="''"
                                nzPlaceHolder="Select Action"
                                (ngModelChange)="onActionSelect($event, data)">
                                @for (action of settlementJobActions; track action.value) {
                                    <nz-option [nzValue]="action.value" [nzLabel]="action.label"></nz-option>
                                }
                            </nz-select>
                        } @else {
                            {{getCellValue(data, column)}}
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</nz-table>