<nz-table
    #nzTable
    [nzData]="tableData || []"
    [nzPageSize]="tableParams.size"
    [nzPageIndex]="tableParams.page"
    [nzTotal]="tableParams.totalElements"
    [nzLoading]="busy$ && !busy$.closed"
    [nzWidthConfig]="nzWidthConfig"
    nzSize="small"
    (nzQueryParams)="onQueryParamsChange($event)"
    class="calc-stl-amt-tbl"
    [nzScroll]="{ y: '65vh'}"
    [nzFrontPagination]="false">
    <thead>
        <tr>
            <th></th>
            @for (column of tableItem; track column.key) {
                <th>{{column.name}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (data of nzTable.data; track data;) {
            <tr [class.highlight-row]="data.outdated"
                  nz-tooltip
                  [nzTooltipTitle]="data.outdated ? ('Metering rerun completed with new workspace id: ' + data.workspaceId) : null"
                  nzTooltipPlacement="top">
                <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)" [nzShowExpand]="!!data.pipelines.length"></td>

                @for (column of tableItem; track column.key) {
                    <td>
                        @if (column.key === 'actions') {
                            @let actions = settlementJobActions | stlActions: data : searchName;
                            @if (data.status !== SettlementStatus.NULLIFIED && actions?.length) {
                                <button nz-button nz-dropdown nzTrigger="click" nzPlacement="bottomRight" nzArrow [nzDropdownMenu]="menu" nzBlock>{{ LABELS.SELECT_ACTION }} <nz-icon nzType="down" /></button>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        @for (action of actions; track action.value) {
                                            <li nz-menu-item (click)="triggerActionNames.includes(action.value) ? triggerAction(action.value, data) : onActionSelect(action.value, data)">{{ action.label }}</li>
                                        }
                                    </ul>
                                </nz-dropdown-menu>
                            }
                        } @else {
                            {{ data | settlementTblFormatter: column}}
                        }
                    </td>
                }
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
                <div class="my-2">
                    <app-template-table
                        [actionsTpl]="(data.pipelines | stlPipelineFormatterPipe | hasInprogress) ? actionsTpl : undefined"
                        [tableColumns]="expandableTableCols"
                        [tableData]="data.pipelines | stlPipelineFormatterPipe">
                    </app-template-table>

                    <ng-template #actionsTpl let-row="row">
                        @let actions = (SettlementJobSubActions | stlActions: row : searchName);
                        @if (row.status && actions?.length) {
                            @for (action of actions; track action.value) {
                            <a nz-button nzType="link" (click)="triggerAction(action.value, row)" nzSize="small" nzBlock>{{ action.label }}</a>
                            }
                        }
                    </ng-template>
                </div>
            </tr>
        }
    </tbody>
</nz-table>

<ng-template #dateRangeSelection let-actionMessage="actionMessage" let-tradingDate="tradingDate" let-processType="processType">
    @if (processType === processTypes.DAILY) {
        <nz-result
            nzStatus="info"
            [nzTitle]="actionMessage">
        </nz-result>
        <nz-flex nzVertical="true" nzAlign="center" nzJustify="center">
            <h6><strong>Trading Date:</strong> {{ tradingDate }}</h6>
        </nz-flex>
    } @else {
        <nz-flex nzVertical="true" nzGap="middle" nzAlign="start" nzJustify="center">
            <span><strong>Select Date Range:</strong></span>
            <nz-range-picker
                [ngModel]="selectedRange()"
                (ngModelChange)="onRangeChange($event)"
                nzShowNow="false"
                [nzAllowClear]="false"
                [nzDisabledDate]="disabledDateFn"
                nzFormat="yyyy-MM-dd"
                nzSize="large"
                style="width: 100%;"
            ></nz-range-picker>
        </nz-flex>
    }
</ng-template>

<ng-template #runSettlementJobs>
    <nz-flex nzVertical="true">
        @if (currentModalData) {
            @switch (currentModalData.actionType) {
                @case ('generateInputWorkspace') {
                    <ng-container *ngTemplateOutlet="dateRangeSelection; context: {
                        actionMessage: currentModalData.actionMessage,
                        tradingDate: currentModalData.tradingDate,
                        processType: currentModalData.processType
                    }"></ng-container>
                }
                @case ('calculateTradingAmount') {
                    <ng-container *ngTemplateOutlet="dateRangeSelection; context: {
                        actionMessage: currentModalData.actionMessage,
                        tradingDate: currentModalData.tradingDate,
                        processType: currentModalData.processType
                    }"></ng-container>
                }
                @case ('generateMonthlySummary') {
                    <ng-container *ngTemplateOutlet="dateRangeSelection; context: {
                        actionMessage: currentModalData.actionMessage,
                        tradingDate: currentModalData.tradingDate,
                        processType: currentModalData.processType
                    }"></ng-container>
                }
                @case ('finalize') {
                    <nz-result
                        nzStatus="warning"
                        nzTitle="Finalize Energy Trading Amounts">
                    </nz-result>
                }
                @case ('calculations') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="View Calculations"
                        nzSubTitle="No available calculations">
                    </nz-result>
                }
                @case ('validate_input') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Validate Input">
                    </nz-result>
                }
                @case ('calculate_transactions') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Calculate Energy Transaction Allocation">
                    </nz-result>
                }
                @case ('generate_transac_reports') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Generate Transaction Report">
                    </nz-result>
                }
                @case ('generate_energy_files') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Generate Energy Files">
                    </nz-result>
                }
            }
        }
    </nz-flex>
</ng-template>

<ng-template #statusTpl let-data="data" let-allData="allData">
  <nz-tag
    nz-popover
    [nzPopoverContent]="(allData.status === 'Failed' || allData.status === 'Partially Succeeded') ? errorTpl : undefined"
    [nzPopoverTitle]="(allData.status === 'Failed' || allData.status === 'Partially Succeeded') ? 'Error' : undefined"
    nzPopoverTrigger="hover"
    class="break-word-tag">
    {{ data }}
  </nz-tag>

  <ng-template #errorTpl>
    <div style="max-width: 800px; max-height: 300px; overflow: auto;">
      <pre>{{ allData.message }}</pre>
    </div>
  </ng-template>
</ng-template>

<ng-template #nameTpl let-data="data" let-allData="allData">
  <div class="cell-lines">
    <div class="cell-main">
      {{ data }}
    </div>

    @if (allData.parameters?.meteringWorkspaceId) {
      <div class="cell-sub">
        <span class="cell-sub-label">{{ LABELS.METERING_WORKSPACE_ID }}: </span>
        <span class="cell-sub-value">{{ allData.parameters.meteringWorkspaceId.numericValue }}</span>
      </div>
    }

    @if (allData.parameters.processType?.textValue !== "DAILY" && [LABELS.GENERATE_INPUT_WORKSPACE, LABELS.CALCULATE_ENERGY_TRADING_AMOUNT].includes(data)) {
      <div class="cell-sub">
        <span class="cell-sub-label">{{ LABELS.TRADING_DATE }}: </span>
        <span class="cell-sub-value">{{ allData.parameters.billingStartDate?.dateValue + " - " + allData.parameters.billingEndDate?.dateValue }}</span>
      </div>
    }
  </div>
</ng-template>
