<nz-table
    #nzTable
    [nzData]="tableData().pipelineGroup"
    [nzPageSize]="tableData().size"
    [nzPageIndex]="tableData().number"
    [nzTotal]="tableData().totalElements"
    [nzLoading]="isLoading()"
    [nzFrontPagination]="false">
    <thead>
        <tr>
            @for (column of tableItem; track column.key) {
                <th>{{column.name}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (data of nzTable.data; track data;) {
            <tr>
                @for (column of tableItem; track column.key) {
                    <td>
                        @if (isActionColumn(column)) {
                            <nz-select
                                nzPlacement="bottomRight"
                                [nzDropdownMatchSelectWidth]="false"
                                [ngModel]="getSelectedAction(data)"
                                nzPlaceHolder="Select Action"
                                (ngModelChange)="onActionSelect($event, data)">
                                @for (action of settlementJobActions; track action.value) {
                                    @if (!(action.value === 'publish' && !data.published)) {
                                        <nz-option [nzValue]="action.value" [nzLabel]="action.label"></nz-option>
                                    }
                                }
                            </nz-select>
                        } @else {
                            {{getCellValue(data, column)}}
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</nz-table>


<ng-template #runSettlementJobs>
    <nz-flex nzVertical="true">
        @if (currentModalData) {
            @switch (currentModalData.actionType) {
                @case ('generate') {
                    @if (currentModalData.processType === processTypes.DAILY) {
                        <nz-result
                            nzStatus="info"
                            [nzTitle]="currentModalData.actionMessage">
                        </nz-result>
                        <nz-flex nzVertical="true" nzAlign="center" nzJustify="center">
                            @if (currentModalData.tradingDate) {
                                <h6><strong>Trading Date:</strong> {{ currentModalData.tradingDate }}</h6>
                            }
                        </nz-flex>
                    } @else {
                        <nz-flex nzVertical="true" nzGap="middle" nzAlign="start" nzJustify="center">
                            <span><strong>Select Date Range:</strong></span>
                            <nz-range-picker
                                [ngModel]="selectedRange()"
                                (ngModelChange)="onRangeChange($event)"
                                nzShowNow="false"
                                [nzAllowClear]="false"
                                [nzDisabledDate]="disabledDateFn"
                                nzFormat="yyyy-MM-dd"
                                nzSize="large"
                                style="width: 100%;"
                            ></nz-range-picker>
                        </nz-flex>
                    }
                }
                @case ('finalize') {
                    <nz-result
                        nzStatus="warning"
                        nzTitle="Finalize Energy Trading Amounts">
                    </nz-result>
                }
                @case ('calculations') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="View Calculations"
                        nzSubTitle="No available calculations">
                    </nz-result>
                }
                @case ('validate_input') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Validate Input">
                    </nz-result>
                }
                @case ('calculate_transactions') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Calculate Energy Transaction Allocation">
                    </nz-result>
                }
                @case ('generate_transac_reports') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Generate Transaction Report">
                    </nz-result>
                }
                @case ('generate_energy_files') {
                    <nz-result
                        nzStatus="info"
                        nzTitle="Generate Energy Files">
                    </nz-result>
                }
            }
        }
    </nz-flex>
</ng-template>