<nz-card [nzTitle]="LABELS.CALCULATE_FINANCIAL_PENALTY">
  <!-- Filters -->
  @if (showForm) {
    <form nz-form [formGroup]="form" nzLayout="horizontal" class="column">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <nz-form-item class="mb-3">
            <nz-form-label nzSpan="8">{{ LABELS.BILLING_PERIOD }}</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select formControlName="billingPeriod" [nzOptions]="billingPeriodOpts" [nzPlaceHolder]="LABELS.ALL"
              [nzAllowClear]="true" nzShowSearch></nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mb-3">
            <nz-form-label nzSpan="8">{{ LABELS.STATUS }}</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select formControlName="status" [nzOptions]="statusOptions" [nzPlaceHolder]="LABELS.ALL" [nzAllowClear]="true" nzShowSearch></nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mb-3">
            <nz-form-label nzSpan="8">{{ LABELS.TYPE }}</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select formControlName="penaltyType" [nzOptions]="typeOptions" [nzPlaceHolder]="LABELS.ALL" [nzAllowClear]="true" nzShowSearch></nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  }

  <div class="d-flex justify-content-between mb-3">
    <nz-space>
      @if (showForm) {
        <button nz-button *nzSpaceItem [disabled]="form.invalid" (click)="resetFilters()">
          {{ LABELS.CLEAR_FILTERS }}
        </button>
      }

      <button nz-button *nzSpaceItem nzType="primary" [disabled]="form.invalid" (click)="showForm ? applyFilter() : showForm =! showForm">
        {{ showForm ? LABELS.APPLY_FILTERS : LABELS.SET_FILTERS }}
      </button>

      <app-polling-timer *nzSpaceItem (emitEvent)="pollingTime.set($event)" (emitReload)="paginatedTable.loading = true; reload$.next()"></app-polling-timer>
    </nz-space>

    <nz-space *ngxPermissionsOnly="[ AUTH.CALC_PENALTY ]">
      <button *nzSpaceItem nz-button (click)="generateIws()" nzType="primary">
        {{ LABELS.GENERATE_PENALTY_IWS }}
      </button>

      <button *nzSpaceItem nz-button (click)="generateIws(true)" nzType="primary">
        {{ LABELS.GENERATE_REFUND_IWS }}
      </button>

      <!-- COMMENT: Removed bulk processing based from UC -->
      <!-- <button *nzSpaceItem nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu">
        {{ LABELS.MORE_ACTIONS }} <nz-icon nzType="down" />
      </button>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>{{ LABELS.CALCULATE }}</li>
          <li nz-menu-item>{{ LABELS.FINALIZE }}</li>
          <li nz-menu-item>{{ LABELS.PUBLISH_TRANSACTION_REPORT }}</li>
          <li nz-menu-item>{{ LABELS.GENERATE_FILES }}</li>
        </ul>
      </nz-dropdown-menu> -->
    </nz-space>
  </div>

  <!-- Table -->
  <app-paginated-table #paginatedTable resultsProp="pipelineGroup" [tableColumns]="tableColumns" [url]="getUrl()" [tableConfig]="{ height: '60vh' }" [enableExpand]="true" [expandTpl]="expandTpl" [actionControls]="actionControls" [showActions]="hasCalcPerm"></app-paginated-table>

  <ng-template #expandTpl let-row="row">
    <div class="d-flex flex-column w-100 my-2 pe-2">

      <p class="fw-bold">{{ LABELS.DETAILS }}</p>
      <app-template-table class="w-100 mb-3" [tableColumns]="billingColumns" [tableData]="row?.penaltyHeaders" [enableExpand]="true" [expandTpl]="billingExpandTpl" expandProp="headerId" [useDarkBg]="true"></app-template-table>

      <ng-template #billingExpandTpl let-billingRow="row">
        <app-template-table class="w-100" [tableColumns]="expandedTableCols" [tableData]="billingRow?.penaltyDetails"></app-template-table>
      </ng-template>

      @if (row?.pipelines?.length) {
        <p class="fw-bold mt-3">{{ LABELS.PIPELINES }}</p>
        <app-pipeline-table class="w-100" [rowData]="row?.pipelines"></app-pipeline-table>
      }
    </div>
  </ng-template>
</nz-card>

<ng-template #bpTpl let-allData="allData">
  {{ allData?.processType === 'DAILY' ? allData?.billingStartDate : `${allData?.billingStartDate} -
  ${allData?.billingEndDate}` }}
</ng-template>

