<nz-card [nzTitle]="(isEnergy() ? LABELS.ENERGY : LABELS.RESERVE) + ' ' +LABELS.MARKET_FEE">
  <!-- Filters -->
  @if (showForm) {
  <form nz-form [formGroup]="form" nzLayout="horizontal" class="column">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <nz-form-item class="mb-3">
          <nz-form-label nzSpan="8">{{ LABELS.BILLING_PERIOD }}</nz-form-label>
          <nz-form-control nzSpan="16">
            <nz-select formControlName="billingPeriod" [nzOptions]="billingPeriodOpts" [nzPlaceHolder]="LABELS.ALL"
              [nzAllowClear]="true" nzShowSearch></nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzSpan="8">{{ LABELS.PROCESS_TYPE }}</nz-form-label>
          <nz-form-control nzSpan="16">
            <nz-select formControlName="processType" [nzOptions]="processTypeOptions" [nzPlaceHolder]="LABELS.ALL"
              [nzAllowClear]="true" nzShowSearch></nz-select>
          </nz-form-control>
      </nz-form-item>
      </div>
    </div>
  </form>
  }

  <div class="d-flex justify-content-between mb-3">
    <nz-space>
      @if (showForm) {
      <button nz-button *nzSpaceItem [disabled]="form.invalid" (click)="resetFilters()">
        {{ LABELS.CLEAR_FILTERS }}
      </button>
      }

      <button nz-button *nzSpaceItem nzType="primary" [disabled]="form.invalid"
        (click)="showForm ? applyFilter() : (showForm =! showForm)">
        {{ showForm ? LABELS.APPLY_FILTERS : LABELS.SET_FILTERS }}
      </button>

      <app-polling-timer *nzSpaceItem (emitEvent)="pollingTime.set($event)" (emitReload)="paginatedTable.loading = true; reload$.next()"></app-polling-timer>
    </nz-space>

    <nz-space>
      <ng-container *ngxPermissionsOnly="isEnergy() ? [ AUTH.EMF_GENERATE_IW ] : [ AUTH.RMF_GENERATE_IW ]">
        <button nz-button *nzSpaceItem nzType="primary" (click)="runMarketFee()">
          {{ LABELS.RUN }} {{ isEnergy() ? LABELS.ENERGY_MARKET_FEE : LABEL.RESERVE_MARKET_FEE }}
        </button>
      </ng-container>
    </nz-space>
  </div>

  <!-- Table -->
  <app-paginated-table #paginatedTable resultsProp="pipelineGroup" [tableColumns]="tableColumns"
    [url]="url$" [showActions]="false" [tableConfig]="{ height: '60vh' }" [enableExpand]="true"
    [expandTpl]="expandTpl" [showCustomLoading]="true"></app-paginated-table>

  <ng-template #expandTpl let-row="row">
    <div class="d-flex w-100 my-2 pe-2">
      <div class="d-flex flex-column w-100">
        <app-template-table #tableComp class="w-100 mb-3" [tableColumns]="expandedTableColumns"
        [tableData]="row?.pipelines" [enableExpand]="true" [expandTpl]="pipelineTpl" [actionsTpl]="actionsTpl" [useDarkBg]="true" ></app-template-table>

        <ng-template #pipelineTpl let-pipelineRow="row">
          <app-pipeline-table [rowData]="[]" [useCustomTableData]="pipelineRow?.pipelineRuns"></app-pipeline-table>
        </ng-template>
      </div>

      <ng-template #actionsTpl let-subRowData="row">
        @if (subRowData.status !== 'Nullified') {
          @let isFinalized = (subRowData?.pipelineRuns | pipelineSome : [(pipelineName + '-finalize')] : 'Succeeded');
          <!-- @let isCalculated = (subRowData?.pipelineRuns | pipelineSome : [(pipelineName + '-calculateMarketFee')] : 'Succeeded'); -->
          @let isInProgress = subRowData.status.includes('In-Progress');

          @if (!isInProgress) {
            <button nz-button nz-dropdown nzTrigger="click" nzPlacement="bottomRight" nzArrow [nzDropdownMenu]="menu">{{ LABELS.SELECT_ACTION }} <nz-icon nzType="down" /></button>
          }

          @if (isInProgress) {
            <div class="px-3">
              <nz-progress [nzStrokeWidth]="4" [nzPercent]="99.9" [nzShowInfo]="false" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" nzStatus="active" />
            </div>
          }

          <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                @if (!isFinalized) {
                  <li nz-menu-item *ngxPermissionsOnly="isEnergy() ? [ AUTH.EMF_GENERATE_IW ] : [ AUTH.RMF_GENERATE_IW ]" (click)="triggerJob('generateInputWorkspace', subRowData, tableComp, LABELS.GENERATE_INPUT_WORKSPACE)">{{ LABELS.GENERATE_INPUT_WORKSPACE }}</li>
                }

                @if ((subRowData?.pipelineRuns | pipelineSome : [(pipelineName + '-generateInputWorkspace')] : 'Succeeded') && !isFinalized) {
                  <li nz-menu-item *ngxPermissionsOnly="isEnergy() ? [ AUTH.EMF_CALCULATE ] : [ AUTH.RMF_CALCULATE ]" (click)="triggerJob('calculateMarketFee', subRowData, tableComp, LABELS.CALCULATE + ' ' + LABELS.ENERGY_MARKET_FEE)">{{ LABELS.CALCULATE }}</li>
                }

                @if ((subRowData?.pipelineRuns | pipelineSome : [(pipelineName + '-calculateMarketFee')] : 'Succeeded') && !isFinalized) {
                  <li nz-menu-item *ngxPermissionsOnly="isEnergy() ? [ AUTH.EMF_FINALIZE ] : [ AUTH.RMF_FINALIZE ]" (click)="finalize('finalize', subRowData)">{{ LABELS.FINALIZE }}</li>
                }

                @if ((subRowData?.pipelineRuns | pipelineSome : [(pipelineName + '-finalize')] : 'Succeeded')) {
                  <li nz-menu-item *ngxPermissionsOnly="isEnergy() ? [ AUTH.EMF_GENERATE_EMF_FILE ] : [ AUTH.RMF_GENERATE_RMF_FILE ]" (click)="triggerJob('generateFiles', subRowData, tableComp, LABELS.GENERATE_FILES)">{{ LABELS.GENERATE_FILES }}</li>
                }
              </ul>
          </nz-dropdown-menu>
        }
      </ng-template>
    </div>
  </ng-template>
</nz-card>

<!-- Column Templates -->
<ng-template #bpTpl let-allData="allData">
  {{ allData?.processType === 'DAILY' ? allData?.billingStartDate : `${allData?.billingStartDate} -
  ${allData?.billingEndDate}` }}
</ng-template>

<ng-template #tagTpl let-data="data">
  <nz-tag class="break-word-tag">
    {{ data }}
  </nz-tag>
</ng-template>
