/* You can add global styles to this file, and also import other style files */
.ant-menu, .ant-menu-sub.ant-menu-inline {
  background: #3e4a58 !important;
}

.ant-menu-item:active, .ant-menu-submenu-title:active {
  background-color: transparent;
}

.ant-menu-title-content .nav-link {
  color: #808FA4 !important;
}

.ant-menu, .ant-menu-submenu-title {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.2;
  margin-bottom: 0px !important;
  margin-top: 0px !important;

  .nav-text.subChildColor:hover {
        color: #00b1f8 !important;

  }
  :hover {
    color: #00b1f8 !important;
  }

  .ant-menu-submenu.ant-menu-submenu-inline .nav-text.subChildColor:hover {
    color: #00b1f8 !important;
  }
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
}

.notif-progress {
  width: 500px;

  .ant-notification-notice-message {
    margin-bottom: 0px !important;
  }

  .ant-notification-notice-close {
    display: none;
  }

  .text-muted {
    color: #b1b1b1 !important
  }
}

.user-options {
  .ant-popover-inner {
    border-radius: 15px     !important;

    .ant-popover-inner-content {
      padding: 8px 0px;

      .ant-btn-text {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #808Fa4;
        font-weight: lighter;
      }

      .ant-btn {
        height: 48px;
        border-bottom: 1px solid #dddddd;
        padding-right: 24px;
        padding-left: 24px;
      }

      .ant-btn:last-child {
        border-bottom: none;
      }
    }
  }
}

.w-toastr {
  width: 450px !important;
}

th {
  font-weight: 500 !important;
}

.calc-stl-amt-tbl .ant-table {
  margin: auto !important;
}

.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 0px;
}

td {
  border-right: none !important;
}

// .template-table {
  .ant-table.ant-table-small .ant-table-tbody .ant-table-wrapper:only-child .ant-table {
    margin: 0px !important;
  }
// }


.popover-calendar {
  .ant-popover-inner-content {
    padding: 0px !important;
  }

  .ant-picker-footer-extra {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0rem;
  }

  .ant-btn-link, .btn-link {
    color: black;
  }
}

.ngb-tp-spacer {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.ngb-tp-input {
  font-weight: bold;
}

.ngb-tp-input {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px;
}

