<nz-spin [nzSpinning]="busy$ && !busy$.closed">

  @if (form.invalid && form.touched) {
    <nz-alert nzBanner nzType="error" [nzMessage]="MESSAGE.REQUIRED_FIELDS" class="mb-3"></nz-alert>
  }

  <form nz-form [formGroup]="form" nzLayout="vertical" nzNoColon class="row">

    @if (!isMarketFee) {
      <nz-form-item class="col-sm-12">
        <nz-form-label nzRequired>{{ LABELS.ALLOCATION_DATE }}</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="allocDate" class="w-100" [nzDisabledDate]="disabledAllocDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      @if (!isPrelim) {
        <nz-form-item class="col-sm-12">
          <nz-form-label nzRequired>{{ LABELS.ALLOCATION_DUE_DATE }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="allocDueDate" class="w-100" [nzDisabledDate]="disabledAllocDueDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      }
    }

    <nz-form-item class="col-sm-12">
      <nz-form-label [nzRequired]="isMarketFee">{{ isMarketFee ? LABELS.REMARKS : LABELS.ALLOCATION_REMARKS }}</nz-form-label>
      <nz-form-control>
        <textarea nz-input formControlName="allocRemarks" rows="2"></textarea>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-spin>

