<nz-layout class="min-vh-100 bg-white">
    <nz-header class="bg-white my-1">
        <app-header></app-header>
    </nz-header>
    <nz-layout>
        <nz-sider class="d-flex flex-column">
            <app-navbar></app-navbar>
            <img src="assets/images/iemop_logo_1.png" class="img-fluid" />
        </nz-sider>
        <nz-layout>
            <nz-content>
                <!-- <router-outlet></router-outlet> -->
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>