<nz-layout class="main-layout">
    <nz-header class="custom-header">
      <app-header></app-header>
    </nz-header>
    <nz-layout class="body-layout">
      <nz-sider
        [nzWidth]="isHovered || !isCollapsed ? 350 : 70"
        [nzCollapsedWidth]="80"
        nzCollapsible
        [nzCollapsed]="isCollapsed && !isHovered"
        [nzTrigger]="null"
        (mouseenter)="handleSiderHover(true)"
        (mouseleave)="handleSiderHover(false)"
        class="sidebar-container"
        [ngClass]="{
          'collapsed': isCollapsed && !isHovered,
          'expanded': !isCollapsed || isHovered
        }"
      >
        <app-navbar
          [isCollapsed]="isCollapsed"
          [isHovered]="isHovered"
          (toggle)="toggleCollapse()"
        ></app-navbar>
      </nz-sider>
      <nz-layout class="content-layout">
        <nz-content class="content">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
  